
CREATE DATABASE [SEP490_G35]
CREATE TABLE [dbo].[BookingExtraCharges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[ExtraChargeId] [int] NOT NULL,
	[Content] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TourId] [int] NOT NULL,
	[SelectedDepartureDate] [datetime] NOT NULL,
	[BookingDate] [datetime] NULL,
	[NumberOfAdults] [int] NULL,
	[NumberOfChildren] [int] NULL,
	[NumberOfInfants] [int] NULL,
	[NoteForTour] [nvarchar](max) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[DepositAmount] [decimal](18, 2) NULL,
	[RemainingAmount] [decimal](18, 2) NULL,
	[Contract] [nvarchar](255) NULL,
	[BookingStatus] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartureDates]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartureDates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExtraCharges]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtraCharges](
	[ExtraChargeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExtraChargeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideLanguages]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideLanguages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuideId] [int] NULL,
	[LanguageId] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideNoteMedia]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideNoteMedia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NoteId] [int] NOT NULL,
	[MediaUrl] [nvarchar](255) NOT NULL,
	[UploadedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideNotes]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideNotes](
	[NoteId] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentId] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuideRatings]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuideRatings](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TourGuideId] [int] NOT NULL,
	[AssignmentId] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[MediaUrl] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItineraryMedia]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItineraryMedia](
	[MediaId] [int] IDENTITY(1,1) NOT NULL,
	[ItineraryId] [int] NOT NULL,
	[MediaUrl] [nvarchar](255) NOT NULL,
	[MediaType] [nvarchar](50) NULL,
	[Caption] [nvarchar](255) NULL,
	[UploadedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[LanguageName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[AmountPaid] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentTypeId] [int] NOT NULL,
	[PaymentReference] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchasedServicePackages]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchasedServicePackages](
	[PurchaseId] [int] IDENTITY(1,1) NOT NULL,
	[TourOperatorId] [int] NOT NULL,
	[PackageId] [int] NOT NULL,
	[TransactionId] [int] NOT NULL,
	[ActivationDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[NumOfToursUsed] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseTransactions]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[TourOperatorId] [int] NOT NULL,
	[PackageId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedTours]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedTours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TourId] [int] NOT NULL,
	[SavedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicePackages]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePackages](
	[PackageId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPercentage] [decimal](5, 2) NULL,
	[DurationInYears] [int] NULL,
	[MaxTours] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourAcceptanceReports]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourAcceptanceReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[TourGuideId] [int] NOT NULL,
	[ReportDate] [datetime] NULL,
	[Summary] [nvarchar](max) NULL,
	[TotalExtraCost] [decimal](18, 2) NULL,
	[Notes] [nvarchar](max) NULL,
	[AttachmentUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourCancellations]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourCancellations](
	[CancellationId] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[CancelledBy] [int] NOT NULL,
	[CancelledAt] [datetime] NULL,
	[Reason] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CancellationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourExperiences]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourExperiences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourGuideAssignments]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourGuideAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
	[TourGuideId] [int] NOT NULL,
	[AssignedDate] [date] NULL,
	[NoteId] [int] NULL,
	[IsLeadGuide] [bit] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourGuides]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourGuides](
	[TourGuideId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[TourOperatorId] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourGuideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourItineraries]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourItineraries](
	[ItineraryId] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[DayNumber] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItineraryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourMedia]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourMedia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[MediaUrl] [nvarchar](255) NULL,
	[MediaType] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourOperatorMedia]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourOperatorMedia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TourOperatorId] [int] NOT NULL,
	[MediaUrl] [nvarchar](255) NOT NULL,
	[Caption] [nvarchar](255) NULL,
	[UploadedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourOperators]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourOperators](
	[TourOperatorId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CompanyName] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[CompanyLogo] [nvarchar](255) NULL,
	[LicenseNumber] [nvarchar](100) NULL,
	[LicenseIssuedDate] [date] NULL,
	[TaxCode] [nvarchar](100) NULL,
	[EstablishedYear] [int] NULL,
	[Hotline] [nvarchar](100) NULL,
	[Website] [nvarchar](255) NULL,
	[Facebook] [nvarchar](255) NULL,
	[Instagram] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[WorkingHours] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourOperatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourRatings]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourRatings](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[TourId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[MediaUrl] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[TourId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DurationInDays] [nvarchar](255) NOT NULL,
	[StartPoint] [nvarchar](255) NULL,
	[Transportation] [nvarchar](255) NULL,
	[TourOperatorId] [int] NOT NULL,
	[MaxSlots] [int] NOT NULL,
	[SlotsBooked] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[TourType] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[TourStatus] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/06/2025 12:01:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GuideLanguages] ON 

INSERT [dbo].[GuideLanguages] ([Id], [GuideId], [LanguageId], [IsActive]) VALUES (2, 1, 1, 1)
INSERT [dbo].[GuideLanguages] ([Id], [GuideId], [LanguageId], [IsActive]) VALUES (3, 1, 2, 1)
INSERT [dbo].[GuideLanguages] ([Id], [GuideId], [LanguageId], [IsActive]) VALUES (4, 1, 3, 0)
SET IDENTITY_INSERT [dbo].[GuideLanguages] OFF
GO
SET IDENTITY_INSERT [dbo].[ItineraryMedia] ON 

INSERT [dbo].[ItineraryMedia] ([MediaId], [ItineraryId], [MediaUrl], [MediaType], [Caption], [UploadedAt], [IsActive]) VALUES (1, 1, N'https://th.bing.com/th/id/OIP.Pn90J4Gh80WZRIbdXqjpvAHaJ9?r=0&w=714&h=960&rs=1&pid=ImgDetMain', N'Image', N'Đà Lạt', CAST(N'2025-06-17T11:50:03.720' AS DateTime), 1)
INSERT [dbo].[ItineraryMedia] ([MediaId], [ItineraryId], [MediaUrl], [MediaType], [Caption], [UploadedAt], [IsActive]) VALUES (2, 2, N'https://bizweb.dktcdn.net/thumb/1024x1024/100/020/248/products/dalat.jpg?v=1685348946450', N'Image', N'Đà Lạt', CAST(N'2025-06-17T11:50:44.600' AS DateTime), 1)
INSERT [dbo].[ItineraryMedia] ([MediaId], [ItineraryId], [MediaUrl], [MediaType], [Caption], [UploadedAt], [IsActive]) VALUES (3, 3, N'https://bizweb.dktcdn.net/100/006/093/files/vuon-hoa-thanh-pho-da-lat1.jpg?v=1700623788633', N'Image', N'Đà Lạt', CAST(N'2025-06-17T11:51:09.883' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ItineraryMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([LanguageId], [LanguageName], [IsActive]) VALUES (1, N'Tiếng Việt', 1)
INSERT [dbo].[Languages] ([LanguageId], [LanguageName], [IsActive]) VALUES (2, N'English', 1)
INSERT [dbo].[Languages] ([LanguageId], [LanguageName], [IsActive]) VALUES (3, N'Tiếng Trung', 1)
SET IDENTITY_INSERT [dbo].[Languages] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [IsActive]) VALUES (1, N'Customer', 1)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [IsActive]) VALUES (2, N'Tour Operator', 1)
INSERT [dbo].[Roles] ([RoleId], [RoleName], [IsActive]) VALUES (3, N'Tour Guide', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TourExperiences] ON 

INSERT [dbo].[TourExperiences] ([Id], [TourId], [Content], [IsActive]) VALUES (1, 1, N'Check-in tại quảng trường Lâm Viên với hoa dã quỳ tuyệt đẹp', 1)
INSERT [dbo].[TourExperiences] ([Id], [TourId], [Content], [IsActive]) VALUES (2, 1, N'Thưởng thức cà phê sáng tại quán ven hồ Xuân Hương', 1)
INSERT [dbo].[TourExperiences] ([Id], [TourId], [Content], [IsActive]) VALUES (3, 1, N'Ghé thăm Dinh Bảo Đại và tìm hiểu lịch sử thú vị của thành phố sương mù', 1)
SET IDENTITY_INSERT [dbo].[TourExperiences] OFF
GO
SET IDENTITY_INSERT [dbo].[TourGuides] ON 

INSERT [dbo].[TourGuides] ([TourGuideId], [UserId], [TourOperatorId], [IsActive]) VALUES (1, 4, 1, 1)
INSERT [dbo].[TourGuides] ([TourGuideId], [UserId], [TourOperatorId], [IsActive]) VALUES (2, 8, 1, 0)
SET IDENTITY_INSERT [dbo].[TourGuides] OFF
GO
SET IDENTITY_INSERT [dbo].[TourItineraries] ON 

INSERT [dbo].[TourItineraries] ([ItineraryId], [TourId], [DayNumber], [Title], [Description], [CreatedAt], [IsActive]) VALUES (1, 1, 1, N'Khởi hành từ TP.HCM - Đến Đà Lạt', N'Tập trung tại điểm hẹn, khởi hành đi Đà Lạt bằng xe du lịch. Trên đường đi dừng chân ăn sáng và nghỉ ngơi. Đến Đà Lạt, nhận phòng và nghỉ ngơi.', CAST(N'2025-06-17T11:46:49.023' AS DateTime), 1)
INSERT [dbo].[TourItineraries] ([ItineraryId], [TourId], [DayNumber], [Title], [Description], [CreatedAt], [IsActive]) VALUES (2, 1, 2, N'Tham quan thành phố Đà Lạt', N'Tham quan Dinh Bảo Đại, Thung lũng Tình Yêu, và thưởng thức cà phê tại Quảng trường Lâm Viên. Buổi tối tự do dạo phố.', CAST(N'2025-06-17T11:47:09.383' AS DateTime), 1)
INSERT [dbo].[TourItineraries] ([ItineraryId], [TourId], [DayNumber], [Title], [Description], [CreatedAt], [IsActive]) VALUES (3, 1, 3, N'Tham quan Langbiang - Về lại TP.HCM', N'Leo núi Langbiang, tham quan làng Cù Lần. Sau đó khởi hành về lại TP.HCM. Kết thúc chuyến đi.', CAST(N'2025-06-17T11:47:28.520' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TourItineraries] OFF
GO
SET IDENTITY_INSERT [dbo].[TourMedia] ON 

INSERT [dbo].[TourMedia] ([Id], [TourId], [MediaUrl], [MediaType], [IsActive]) VALUES (1, 1, N'https://bloganchoi.com/wp-content/uploads/2021/11/review-da-lat-toan-canh-dat-lat-trong-suong-mu-som-mai-1.jpg', N'Image', 1)
INSERT [dbo].[TourMedia] ([Id], [TourId], [MediaUrl], [MediaType], [IsActive]) VALUES (2, 1, N'https://img6.thuthuatphanmem.vn/uploads/2022/03/04/background-da-lat_034631315.jpg', N'Image', 1)
INSERT [dbo].[TourMedia] ([Id], [TourId], [MediaUrl], [MediaType], [IsActive]) VALUES (3, 1, N'https://ik.imagekit.io/tvlk/blog/2023/01/canh-dep-da-lat-1.jpg?tr=dpr-2,w-675', N'Image', 1)
SET IDENTITY_INSERT [dbo].[TourMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[TourOperatorMedia] ON 

INSERT [dbo].[TourOperatorMedia] ([Id], [TourOperatorId], [MediaUrl], [Caption], [UploadedAt], [IsActive]) VALUES (1, 1, N'https://static-images.vnncdn.net/files/publish/2022/7/14/ha-long-bay-enters-top-10-most-beautiful-sunrise-spots-1054.jpg', N'Hạ Long Bay', CAST(N'2024-02-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[TourOperatorMedia] ([Id], [TourOperatorId], [MediaUrl], [Caption], [UploadedAt], [IsActive]) VALUES (2, 1, N'https://focusasiatravel.vn/wp-content/uploads/2019/11/du-lich-phu-quoc.gif', N'Phú Quốc', CAST(N'2025-03-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[TourOperatorMedia] ([Id], [TourOperatorId], [MediaUrl], [Caption], [UploadedAt], [IsActive]) VALUES (3, 1, N'https://i.pinimg.com/originals/d7/f5/74/d7f57425d17e308a9500bef61a9bf872.jpg', N'Chùa Tam Chúc', CAST(N'2025-06-17T11:14:14.307' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TourOperatorMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[TourOperators] ON 

SET IDENTITY_INSERT [dbo].[TourOperators] OFF
GO
SET IDENTITY_INSERT [dbo].[TourRatings] ON 

INSERT [dbo].[TourRatings] ([RatingId], [TourId], [UserId], [Rating], [Comment], [MediaUrl], [CreatedAt], [IsActive]) VALUES (1, 1, 1, 4, N'Tuyệt Đẹp', NULL, CAST(N'2025-06-17T11:43:01.803' AS DateTime), 1)
INSERT [dbo].[TourRatings] ([RatingId], [TourId], [UserId], [Rating], [Comment], [MediaUrl], [CreatedAt], [IsActive]) VALUES (2, 3, 1, 5, N'Quá Đẹp luôn', NULL, CAST(N'2025-06-17T11:43:24.617' AS DateTime), 1)
INSERT [dbo].[TourRatings] ([RatingId], [TourId], [UserId], [Rating], [Comment], [MediaUrl], [CreatedAt], [IsActive]) VALUES (3, 4, 1, 5, N'Khuyên các bạn nên thử đi một lần', NULL, CAST(N'2025-06-17T11:43:47.390' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TourRatings] OFF
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([TourId], [Title], [Description], [Price], [DurationInDays], [StartPoint], [Transportation], [TourOperatorId], [MaxSlots], [SlotsBooked], [CreatedAt], [TourType], [Note], [TourStatus], [IsActive]) VALUES (1, N'Tour Đà Lạt 3N2Đ', N'Thăm quan thành phố sương mù, thưởng thức ẩm thực Đà Lạt, tham quan Thung lũng Tình yêu và Langbiang.', CAST(3500000.00 AS Decimal(18, 2)), N'3', N'TP. Hồ Chí Minh', N'Xe du lịch', 1, 20, 10, CAST(N'2025-03-01T00:00:00.000' AS DateTime), N'Share', NULL, N'Active', 1)
INSERT [dbo].[Tours] ([TourId], [Title], [Description], [Price], [DurationInDays], [StartPoint], [Transportation], [TourOperatorId], [MaxSlots], [SlotsBooked], [CreatedAt], [TourType], [Note], [TourStatus], [IsActive]) VALUES (3, N'Tour Nha Trang', N'Tắm biển Nha Trang, khám phá VinWonders, tham quan Hòn Mun, Hòn Tằm.', CAST(4200000.00 AS Decimal(18, 2)), N'4', N'TP. Hồ Chí Minh', N'Xe giường nằm', 1, 15, 2, CAST(N'2024-04-15T00:00:00.000' AS DateTime), N'Share', NULL, N'Active', 1)
INSERT [dbo].[Tours] ([TourId], [Title], [Description], [Price], [DurationInDays], [StartPoint], [Transportation], [TourOperatorId], [MaxSlots], [SlotsBooked], [CreatedAt], [TourType], [Note], [TourStatus], [IsActive]) VALUES (4, N'Tour Phú Quốc nghỉ dưỡng', N'Thư giãn tại resort 4*, tham quan Grand World, Sun World, checkin Sunset Town.', CAST(5600000.00 AS Decimal(18, 2)), N'3', N'Hà Nội', N'Máy bay', 1, 10, 0, CAST(N'2025-02-01T00:00:00.000' AS DateTime), N'Private', NULL, N'Active', 1)
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [Email], [Password], [Address], [PhoneNumber], [Avatar], [RoleId], [IsActive]) VALUES (1, N'Trần Hữu Thái ', N'a326huuthai@gmail.com', N'123', N'Hải Phòng', N'0988271702', N'https://khoinguonsangtao.vn/wp-content/uploads/2022/10/hinh-anh-meo-khoc-thet.jpeg', 1, 1)
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [Password], [Address], [PhoneNumber], [Avatar], [RoleId], [IsActive]) VALUES (3, N'Phạm Tấn Đạt ', N'datpthe171311@fpt.edu.vn



L', N'1234', N'Hà Nội', N'0396190818', N'https://img.wxcha.com/m00/ba/f7/3cdd2f6370ce1560d9b1694bceef2578.jpg', 4, 1)
INSERT [dbo].[Users] ([UserId], [UserName], [Email], [Password], [Address], [PhoneNumber], [Avatar], [RoleId], [IsActive]) VALUES (4, N'Trần Đỗ Quang 

Huy', N'huytdqhe173448@fpt.edu.vn

', N'1234', N'Đà Nẵng', N'0346842677', N'https://inkythuatso.com/uploads/thumbnails/800/2023/01/meme-meo-khoc-thet-3-27-09-40-20.jpg', 3, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616035BDB53F]    Script Date: 17/06/2025 12:01:55 CH ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TourGuid__1788CC4D82ACBD42]    Script Date: 17/06/2025 12:01:55 CH ******/
ALTER TABLE [dbo].[TourGuides] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TourOper__1788CC4DD8865231]    Script Date: 17/06/2025 12:01:55 CH ******/
ALTER TABLE [dbo].[TourOperators] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534672F5519]    Script Date: 17/06/2025 12:01:55 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingExtraCharges] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[BookingExtraCharges] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [NumberOfAdults]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [NumberOfChildren]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [NumberOfInfants]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [DepositAmount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [RemainingAmount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [BookingStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DepartureDates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExtraCharges] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GuideLanguages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GuideNoteMedia] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[GuideNoteMedia] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GuideNotes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GuideNotes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GuideRatings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GuideRatings] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ItineraryMedia] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[ItineraryMedia] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [AmountPaid]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PurchasedServicePackages] ADD  DEFAULT ((0)) FOR [NumOfToursUsed]
GO
ALTER TABLE [dbo].[PurchasedServicePackages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PurchasedServicePackages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseTransactions] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[PurchaseTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseTransactions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SavedTours] ADD  DEFAULT (getdate()) FOR [SavedAt]
GO
ALTER TABLE [dbo].[SavedTours] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServicePackages] ADD  DEFAULT ((0)) FOR [DiscountPercentage]
GO
ALTER TABLE [dbo].[ServicePackages] ADD  DEFAULT ((1)) FOR [DurationInYears]
GO
ALTER TABLE [dbo].[ServicePackages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourAcceptanceReports] ADD  DEFAULT (getdate()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[TourAcceptanceReports] ADD  DEFAULT ((0)) FOR [TotalExtraCost]
GO
ALTER TABLE [dbo].[TourAcceptanceReports] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourCancellations] ADD  DEFAULT (getdate()) FOR [CancelledAt]
GO
ALTER TABLE [dbo].[TourCancellations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourExperiences] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourGuideAssignments] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[TourGuideAssignments] ADD  DEFAULT ((0)) FOR [IsLeadGuide]
GO
ALTER TABLE [dbo].[TourGuideAssignments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourGuides] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourItineraries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TourItineraries] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourMedia] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourOperatorMedia] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[TourOperatorMedia] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourOperators] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TourRatings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TourRatings] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0)) FOR [SlotsBooked]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ('Shared') FOR [TourType]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ('Active') FOR [TourStatus]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BookingExtraCharges]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[BookingExtraCharges]  WITH CHECK ADD FOREIGN KEY([ExtraChargeId])
REFERENCES [dbo].[ExtraCharges] ([ExtraChargeId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[DepartureDates]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[GuideLanguages]  WITH CHECK ADD FOREIGN KEY([GuideId])
REFERENCES [dbo].[TourGuides] ([TourGuideId])
GO
ALTER TABLE [dbo].[GuideLanguages]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([LanguageId])
GO
ALTER TABLE [dbo].[GuideNoteMedia]  WITH CHECK ADD FOREIGN KEY([NoteId])
REFERENCES [dbo].[GuideNotes] ([NoteId])
GO
ALTER TABLE [dbo].[GuideNotes]  WITH CHECK ADD FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[TourGuideAssignments] ([Id])
GO
ALTER TABLE [dbo].[GuideRatings]  WITH CHECK ADD FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[TourGuideAssignments] ([Id])
GO
ALTER TABLE [dbo].[GuideRatings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ItineraryMedia]  WITH CHECK ADD FOREIGN KEY([ItineraryId])
REFERENCES [dbo].[TourItineraries] ([ItineraryId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentTypes] ([PaymentTypeId])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PurchasedServicePackages]  WITH CHECK ADD FOREIGN KEY([PackageId])
REFERENCES [dbo].[ServicePackages] ([PackageId])
GO
ALTER TABLE [dbo].[PurchasedServicePackages]  WITH CHECK ADD FOREIGN KEY([TourOperatorId])
REFERENCES [dbo].[TourOperators] ([TourOperatorId])
GO
ALTER TABLE [dbo].[PurchasedServicePackages]  WITH CHECK ADD FOREIGN KEY([TransactionId])
REFERENCES [dbo].[PurchaseTransactions] ([TransactionId])
GO
ALTER TABLE [dbo].[PurchaseTransactions]  WITH CHECK ADD FOREIGN KEY([PackageId])
REFERENCES [dbo].[ServicePackages] ([PackageId])
GO
ALTER TABLE [dbo].[PurchaseTransactions]  WITH CHECK ADD FOREIGN KEY([TourOperatorId])
REFERENCES [dbo].[TourOperators] ([TourOperatorId])
GO
ALTER TABLE [dbo].[SavedTours]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[SavedTours]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TourAcceptanceReports]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[TourAcceptanceReports]  WITH CHECK ADD FOREIGN KEY([TourGuideId])
REFERENCES [dbo].[TourGuides] ([TourGuideId])
GO
ALTER TABLE [dbo].[TourCancellations]  WITH CHECK ADD FOREIGN KEY([CancelledBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TourCancellations]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[TourExperiences]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[TourGuideAssignments]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[TourGuideAssignments]  WITH CHECK ADD FOREIGN KEY([TourGuideId])
REFERENCES [dbo].[TourGuides] ([TourGuideId])
GO
ALTER TABLE [dbo].[TourGuides]  WITH CHECK ADD FOREIGN KEY([TourOperatorId])
REFERENCES [dbo].[TourOperators] ([TourOperatorId])
GO
ALTER TABLE [dbo].[TourGuides]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TourItineraries]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[TourMedia]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[TourOperatorMedia]  WITH CHECK ADD FOREIGN KEY([TourOperatorId])
REFERENCES [dbo].[TourOperators] ([TourOperatorId])
GO
ALTER TABLE [dbo].[TourOperators]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TourRatings]  WITH CHECK ADD FOREIGN KEY([TourId])
REFERENCES [dbo].[Tours] ([TourId])
GO
ALTER TABLE [dbo].[TourRatings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD FOREIGN KEY([TourOperatorId])
REFERENCES [dbo].[TourOperators] ([TourOperatorId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[BookingExtraCharges]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([NumberOfAdults]>=(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([NumberOfChildren]>=(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([NumberOfInfants]>=(0)))
GO
ALTER TABLE [dbo].[GuideRatings]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[TourItineraries]  WITH CHECK ADD CHECK  (([DayNumber]>(0)))
GO
ALTER TABLE [dbo].[TourRatings]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
